/**
 * Styles généraux pour le site web
 *
 * Ce fichier contient les styles CSS pour l'ensemble du site, y compris
 * la mise en page générale, les styles des livres sur la page d'accueil,
 * et les styles pour la page de détails d'un livre.
 *
 * @package MonSiteDeLivres
 * @author  Votre Nom
 * @version 1.0
 */

/* font persos */
@font-face {
  font-family: "anybody";
  src: url("../fonts/anybody.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "trash";
  src: url("../fonts/trash.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* animations pour le fade in des card */
/* Initialement, les cartes sont cachées */
.livre-card {
  opacity: 0;
  transform: translateY(200px); /* Décale légèrement vers le bas */
  transition: opacity 5s ease-out, transform 2s ease-in-out; /* Animation fluide */
}

/* Classe à ajouter lorsque la carte est visible */
.livre-card.visible {
  opacity: 1; /* Complètement visible */
  transform: translateY(0); /* Ramène à sa position initiale */
}

/* Réinitialisation des marges et paddings pour tous les éléments */
* {
  margin: 0;
  padding: 0;
}

/* S'assure que les images ne dépassent pas leur conteneur */
img {
  max-width: 100%;
}

/* Style de base pour les formulaires */
form {
  width: 100%;
  max-width: 781px;
  margin: auto;
  padding: 20px 0;
}

/* Empêche le redimensionnement des zones de texte */
textarea {
  resize: none;
}
label {
  color: #222021;
}

/* Style pour les messages d'erreur */
.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

/* nav */
/* Ajuste la taille du logo dans la barre de navigation */
nav .navbar-brand img {
  height: 40px !important;
  width: auto;
}
/* couleur nav*/
.bg-dark {
  background-color: #3342fc !important;
}
/* style pour le titre de la page */
/* zone d'affichage du titre */
.titreprincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  background-color: #f8c100;
}
/**
 * Styles pour la page d'accueil
 */

/* Styles globaux */
body {
  font-family: "anybody", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eaeaea !important;
}
h1 {
  font-family: "trash" !important;
}
.btn-success {
  margin-bottom: 20px;
}
.alert-success {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* Conteneur pour tous les livres */
.livres-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}
/* contenu pour UN LIVRE EN DETAIL */
.livre-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  gap: 20px;
}

/* Styles pour les cartes de livre */
.livre-card {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 285px;
  min-width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  justify-content: space-around;
  transition: transform 0.2s ease;
}

/* Effet de survol sur les cartes de livre */
.livre-card:hover {
  transform: scale(1.05);
  background-color: #eaeaea;
}

/* Titre du livre */
.livre-title {
  background-color: #eaeaea;
  color: #222021;
  padding: 15px;
  font-family: "trash";
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0;
}

/* Image du livre */
.livre-image {
  width: 150px;
  height: auto;
  margin: 10px auto;
}

.livre-plein {
  width: auto;
  height: 400px;
  margin: 10px auto;
}

/* Corps de la carte de livre */
.livre-body {
  padding: 10px;
}
.livre-body p {
  color: #717171;
  font-size: 13px;
}

/* Lien vers les détails du livre */
.livre-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #f8c100;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

/* Effet de survol sur le lien */
.livre-link:hover {
  background-color: #3342fc !important;
}
/**
 * Styles pour la page de détails d'un livre
 */

/* Conteneur de l'image */
.livre-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image du livre */
.livre-image {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Conteneur des détails du livre */
.livre-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f8c100;
  color: #222021;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Paragraphes dans les détails du livre */
.livre-details p {
  font-size: 1.2rem;
  margin: 10px 0;
}

/* zone de description d'un livre fait par l'auteur */
#descriptionLivre {
  display: flex;
  padding: 50px;
  margin: 25px 50px 50px 50px;
  border-radius: 15px;
  background-color: #3d3d3d;
  white-space: pre-line;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  padding: 20px;
  background-color: #f8c100;
}

#signature p {
  margin-bottom: inherit !important;
  font-family: "trash";
  font-weight: bold;
  color: #eaeaea;
  font-size: 30px;
  padding: 0 10px;
}
.logo img {
  max-height: 80px;
}

/* Design responsive */
/* Design responsive */
/* Design responsive */
/* Design responsive */
/* Design responsive */
/* Design responsive */
@media (max-width: 991px) {
  .utilisateur-connecte {
    display: none;
  }
  h1 {
    font-size: 25px;
  }

  .livres-container {
    flex-basis: 40%;
  }
  .livre-card {
    width: 330px;
  }
  .livre-title {
    padding: 10px;
  }
  .livre-body p {
    margin-bottom: inherit;
  }

  /* gestion responsive du formulaire */
  .align-middle,
  .btn-warning,
  .btn-danger {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .livre-card {
    min-width: auto;
  }
  .titreprincipal {
    padding: 10px;
    height: 75px;
  }
  #signature p {
    font-size: 20px;
    text-align: center;
  }
  #descriptionLivre {
    margin: 20px;
  }
}

@media (max-width: 480px) {
  .livres-container {
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }

  .livre-card {
    width: 80%;
  }
  .livre-image {
    width: 75px;
  }
  .livre-link {
    padding: 6px 5px;
    font-size: 12px;
  }
  .livre-title {
    font-size: 1rem;
  }
  .livre-plein {
    width: auto;
    height: 100%;
  }
}

/* Design responsive pour la page de détails */

@media (max-width: 768px) {
  nav .navbar-brand img {
    height: 35px !important;
  }
  .livre-container {
    flex-direction: column;
    align-items: flex-start;
  }
  #container {
    padding-bottom: 20px !important;
  }

  .livre-details {
    margin-top: 20px;
  }
  h1 {
    font-size: 25px;
  }
  .logo img {
    max-height: 60px;
  }
  tbody {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  tr.useurs {
    display: flex;
    flex-direction: column;
    min-width: 300px !important;
    padding: 10px;
  }
  tr.table-dark {
    display: none;
  }
}

@media (max-width: 480px) {
  nav .navbar-brand img {
    height: 20px !important;
  }
  .livre-container {
    margin: 10px;
  }

  .livre-details p {
    font-size: 1rem;
  }
  h1 {
    font-size: 21px;
  }
  .logo img {
    max-height: 40px;
  }
}
@media (max-width: 360px) {
  nav .navbar-brand img {
    height: 18px !important;
  }
  h1 {
    font-size: 20px;
  }
  #signature p {
    font-size: 16px;
  }
}
@media (max-width: 300px) {
  h1 {
    font-size: 16px;
  }
}

#container {
  min-height: 81vh;
}

.card {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.card-header {
  width: 100%;
}
