/**
 * Styles généraux pour le site web
 *
 * Ce fichier contient les styles CSS pour l'ensemble du site, y compris
 * la mise en page générale, les styles des livres sur la page d'accueil,
 * et les styles pour la page de détails d'un livre.
 *
 * @package MonSiteDeLivres
 * @author  Votre Nom
 * @version 1.0
 */
@font-face {
  font-family: "anybody";
  src: url("../fonts/anybody.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "trash";
  src: url("../fonts/trash.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* animations pour le fade in des card */
/* Initialement, les cartes sont cachées */
.livre-card {
  opacity: 0;
  transform: translateY(200px); /* Décale légèrement vers le bas */
  transition: opacity 5s ease-out, transform 2s ease-in-out; /* Animation fluide */
}

/* Classe à ajouter lorsque la carte est visible */
.livre-card.visible {
  opacity: 1; /* Complètement visible */
  transform: translateY(0); /* Ramène à sa position initiale */
}

/* Réinitialisation des marges et paddings pour tous les éléments */

* {
  margin: 0;
  padding: 0;
}

/* S'assure que les images ne dépassent pas leur conteneur */
img {
  max-width: 100%;
}

/* Style de base pour les formulaires */
form {
  width: 100%;
  max-width: 781px;
  margin: auto;
}

/* Empêche le redimensionnement des zones de texte */
textarea {
  resize: none;
}

/* Style pour les messages d'erreur */
.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
/* style pour le titre de la page */
/* Ajuste la taille du logo dans la barre de navigation */
nav .navbar-brand img {
  height: 50px !important;
  width: auto;
}
/* zone d'affichage du titre */
.titreprincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  background-color: #f8c100;
}
/**
 * Styles pour la page d'accueil
 */

/* Styles globaux */
body {
  font-family: "anybody", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "trash" !important;
}

/* Conteneur pour tous les livres */
.livres-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

/* Styles pour les cartes de livre */
.livre-card {
  background-color: #eaeaea;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  min-width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s ease;
}

/* Effet de survol sur les cartes de livre */
.livre-card:hover {
  transform: scale(1.05);
  background-color: #eaeaea;
}

/* Titre du livre */
.livre-title {
  background-color: #eaeaea;
  color: #222021;
  padding: 15px;
  font-family: "trash";
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0;
}

/* Image du livre */
.livre-image {
  width: 150px;
  height: auto;
  margin: 10px auto;
}

/* Corps de la carte de livre */
.livre-body {
  padding: 10px;
}
.livre-body p {
  color: #222021;
}

/* Lien vers les détails du livre */
.livre-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #f8c100;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

/* Effet de survol sur le lien */
.livre-link:hover {
  background-color: #3342fc !important;
}

/* Design responsive */
@media (max-width: 768px) {
  .livre-card {
    width: 100%;
    max-width: 350px;
    min-width: auto;
  }
  .titreprincipal {
    padding: 50px;
  }
}

@media (max-width: 480px) {
  .livres-container {
    flex-direction: column;
    padding: 10px;
  }

  .livre-card {
    width: 100%;
  }
}

/**
 * Styles pour la page de détails d'un livre
 */

/* Conteneur pour les détails du livre */
.livre-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

/* Conteneur de l'image */
.livre-image-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

/* Image du livre */
.livre-image {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Conteneur des détails du livre */
.livre-details {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f8c100;
  color: #222021;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Paragraphes dans les détails du livre */
.livre-details p {
  font-size: 1.2rem;
  margin: 10px 0;
}

#descriptionLivre {
  display: flex;
  padding: 20px;
  background-color: #222021;
  height: 500px;
  white-space: pre-line;
}

/* Design responsive pour la page de détails */
@media (max-width: 768px) {
  .livre-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .livre-details {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .livre-container {
    margin: 10px;
  }

  .livre-details p {
    font-size: 1rem;
  }
}
